# Business Usecase
###  Need to analyis parking time series dataset to get idea of future demand of parking area

# Approach
    1. load the packages
    2. load the dataset

In [1]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
#import dataset
data=pd.read_csv('dataset.csv')

In [3]:
data.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

# Basic checks on data

In [4]:
# check shape of data
data.shape

(35717, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SystemCodeNumber  35717 non-null  object
 1   Capacity          35717 non-null  int64
 2   Occupancy         35717 non-null  int64
 3   LastUpdated       35717 non-null  object
dtypes: int64(2), object(2)
memory usage: 1.1+ MB

In [6]:
data.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [7]:
# convert datatype to date
data['LastUpdated']=pd.to_datetime(data['LastUpdated'])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SystemCodeNumber  35717 non-null  object
 1   Capacity          35717 non-null  int64
 2   Occupancy         35717 non-null  int64
 3   LastUpdated       35717 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.1+ MB

In [9]:
# spliting data and time from LastUpdated columns
data['Date']=data['LastUpdated'].dt.date
data['Time']=data['LastUpdated'].dt.time

In [10]:
# remove the unnecessary columns for dataset
data.drop(columns=['LastUpdated','SystemCodeNumber','Capacity'],inplace=True)

In [11]:
data.drop(columns=['Time'],inplace=True)

In [12]:
data.head()

   Occupancy        Date
0         61  2016-10-04
1         64  2016-10-04
2         80  2016-10-04
3        107  2016-10-04
4        150  2016-10-04

In [13]:
# set the index of the dataframe
data.set_index('Date',inplace=True)

In [14]:
#checking null value on dataset
data

            Occupancy
Date
2016-10-04         61
2016-10-04         64
2016-10-04         80
2016-10-04        107
2016-10-04        150
...               ...
2016-12-19       1517
2016-12-19       1487
2016-12-19       1432
2016-12-19       1321
2016-12-19       1180

[35717 rows x 1 columns]

In [15]:
data.head()

            Occupancy
Date
2016-10-04         61
2016-10-04         64
2016-10-04         80
2016-10-04        107
2016-10-04        150

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35717 entries, 2016-10-04 to 2016-12-19
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Occupancy  35717 non-null  int64
dtypes: int64(1)
memory usage: 558.1+ KB

In [17]:
# Resampling the time series data
# it will help to group the time series data into day bucktes

In [20]:
data.groupby('Date').resample('D').mean()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'